# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
venv/
.venv/

# pyinstaller files
.pytest_cache/
